body{
    overflow-x: hidden;
}

.head{
    background-color: blue;
    margin-bottom: 20px;
}

.head:hover{
    background-color: aqua;
}

.container
{
    height: 100vh;
    width: 100%;
    background-color: #161616;
    color: white;
    /* padding: 30px; */
    display: flex;
    align-items: center;
}

input[type="date"] {
    padding: 12px;
    font-size: 16px;
    border: 1px solid #ccc; 
    border-radius: 4px; 
    margin-bottom: 16px; 
  }

  .item-details {
    margin-right: 50px;
}

.back{
    /* background: no-repeat; */
    background-position: center;
    background-size:cover;
}

.delete-icon{
    margin-left: 10px;
}