body{
background-image: url('https://img.freepik.com/free-photo/burger-french-fries-plate-with-copy-space_23-2148235009.jpg?w=740&t=st=1718128904~exp=1718129504~hmac=527e618c8c22a6c1c419929de15931c70fbcc4aac627fc18b9d5400cdbe5fc46');
background-size: cover;
background-position: center;
}